@import url(../../assets/fonts/Quicksand.ttf);

*,
::before,
::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Quicksand", sans-serif;
    background: linear-gradient(to bottom right, #ffecec, #fff5f5, #ffebeb);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    margin: 0;
    padding: 1rem;
    margin-top: 10rem;
    overflow: hidden;
    /* Elimina resaltada al hacer click */
    -webkit-tap-highlight-color: transparent;
}
.envelope {
    --duration: 1000ms;

    --shadow-width: calc(var(--envelope-width) * 0.85);
    --shadow-blur: 1.5rem;

    --envelope-width: 300px;
    --envelope-height: 175px;
    --envelope-clr-bg: #f7aeb6;
    --envelope-clr-bg-side: #f7aeb6;
    --envelope-clr-bg-bottom: #f1b4bb;
    --envelope-clr-bg-top: #f1b4bb;
    --envelope-clr-txt: #fff;

    /*--envelope-transform: rotateY(0deg);*/
    --envelope-transform-hover: rotateY(180deg);
    --evelope-rotate-delay: calc(var(--duration) / 1);
    --evelope-rotate-delay-hover: 0ms;

    --letter-clr-bg: #f5eedc;
    --letter-clr-text: #1f1f1f;
    --letter-font-size: 1rem;
    --letter-delay: 0ms;
    --letter-delay-hover: calc(
        var(--duration) * 1.25
    ); /* delay before revealing card */

    --letter-height: calc(var(--envelope-height) - 2rem);
    --letter-height-hover: calc(var(--envelope-height) * 1.7);

    --fold-rotate: rotateX(0deg);
    /*--fold-zindex: 10;*/
    --fold-zindex-hover: 0;
    --fold-rotate-hover: rotateX(180deg);
    --fold-delay: calc(
        var(--duration) / 2
    ); /* delay before opening top section */
    --fold-delay-hover: calc(var(--duration) * 0.75);

    --front-font-size: 1rem;
    --snowman-width: 5rem;
    --bells-width: 3rem;

    position: relative;
    height: var(--envelope-height);
    width: var(--envelope-width);
    perspective: 100rem;
    border-radius: 0.5rem;
}
.envelope:hover {
    cursor: pointer;
}
.envelope::after {
    content: "";
    position: absolute;
    top: 110%;
    left: 50%;
    width: var(--shadow-width);
    height: 4rem;
    transition: var(--duration) ease-in-out;
    transition-delay: var(--evelope-rotate-delay);
    transform: var(--shadow-transform);
    translate: -50% 0;
    border-radius: 50%;
    background: rgba(56, 6, 6, 0.4);
    filter: blur(var(--shadow-blur));
}

.envelope_transformed {
    --envelope-transform: var(--envelope-transform-hover, 0deg);
    --evelope-rotate-delay: var(--evelope-rotate-delay-hover);
    --shadow-transform: rotateY(180deg);
    --fold-rotate: var(--fold-rotate-hover);
    --fold-delay: var(--fold-delay-hover);
    --fold-zindex: var(--fold-zindex-hover);
    --letter-height: var(--letter-height-hover);
    --letter-delay: var(--letter-delay-hover);
}

@media (min-width: 720px) {
    .envelope {
        --envelope-width: 70rem;
        --envelope-height: 40rem;
        --letter-font-size: 1.6rem;
        --snowman-width: 13rem;
        --bells-width: 6rem;
        --front-font-size: 2.2rem;
    }
}

.envelope-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: var(--duration) ease-in-out;
    transition-delay: var(--evelope-rotate-delay);
    transform-style: preserve-3d;
    transform: var(--envelope-transform);
    display: grid;
}

.envelope-front,
.envelope-back {
    position: relative;
    grid-area: 1/1;
    width: 100%;
    height: 100%;
    background-color: var(--envelope-clr-bg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    perspective: 100rem;
    isolation: isolate;
}

.envelope-front {
    color: var(--envelope-clr-txt);
    display: grid;
    place-content: center;
}

.envelope-front .postage-stamp {
    position: absolute;
    top: 1em;
    right: 0.5em;
    width: 15%;
}

.envelope-front .address {
    text-align: left;
    font-size: var(--front-font-size);
}
.envelope-front .address > p > span:first-child {
    font-family: system-ui;
    font-weight: 200;
}
.envelope-front .address > p > span:last-of-type {
    font-weight: 800;
}
.envelope-back {
    /* start with back rotated*/
    transform: rotateY(180deg);
}

/* back folds */
.envelope-back::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 3;
    background-image: conic-gradient(
        transparent 60deg,
        var(--envelope-clr-bg-side) 60deg 120deg,
        var(--envelope-clr-bg-bottom) 120deg 240deg,
        var(--envelope-clr-bg-side) 240deg 300deg,
        transparent 300deg
    );
}
/* top fold which folds up on hover */
.envelope-back .top-fold {
    position: absolute;
    inset: 0;
    z-index: var(--fold-zindex, 10);
    background-color: var(--envelope-clr-bg-top);
    clip-path: polygon(0% 0%, 50% 55%, 100% 0%);

    transform: var(--fold-rotate);
    transform-origin: top;
    transition: var(--duration) ease-in-out;
    transition-delay: var(--fold-delay);
}
.top-fold-stamp {
    position: absolute;
    inset: 0;
    width: 12rem;
    left: 50%;
    top: 50%;
    z-index: 100;
    transform: translateX(-50%) translateY(-50%);
}
.top-fold-stamp-cliped {
    clip-path: polygon(
        35% 37%,
        65% 35%,
        100% 24%,
        100% 70%,
        100% 100%,
        0 100%,
        0% 70%,
        0 24%
    );
}
.letter {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 90%;
    height: var(--letter-height);
    font-size: var(--letter-font-size);
    transform: translateX(-50%);
    background: var(--letter-clr-bg);
    z-index: 2;
    border-radius: 0.5rem;
    padding-block: 3rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    transition: var(--duration) ease-in-out;
    transition-delay: var(--letter-delay);
    overflow: hidden;
    border: 1px solid var(--envelope-clr-bg);
}
.letter > svg.snowman {
    width: var(--snowman-width);
}
.letter svg.bells {
    width: var(--bells-width);
    color: orange;
}
.letter p {
    margin: 0;
    font-weight: bold;
    width: 32ch;
    color: var(--letter-clr-text);
    font-size: 2.1rem;
}
.highlight {
    display: block;
    margin-top: 1.5rem;
    font-size: 1.45rem;
    font-weight: bold;
}
.letter__image {
    width: 10rem;
    object-fit: contain;
    filter: hue-rotate(330deg);
}
.letter-frame {
    position: absolute;
    bottom: 8rem;
}
.butterflys {
    position: absolute;
    z-index: -1;
    left: 4.2rem;
    filter: hue-rotate(35deg);
}
.letter__image-2 {
    width: 18rem;
    object-fit: contain;
}
